p{
    background-color: aqua;
    color: #b4843c;
}
#para{
    background-color: blueviolet;
}
.img{
    text-align: center;
   
    
}
h1{
    font: 1em sans-serif;
    color: brown;
}